h1 = @order.name

== render 'form'

div
  a class="copy-btn btn btn-primary" data-clipboard-text= "#{@order.attributes_for_copy}" data-toggle="tooltip" data-placement="top" title="Copy to Clipboard"
    | Copy data

= link_to 'Show', @order
'|
= link_to 'Back', orders_path
