google_drive_client_key: 234234-v5cbujg7oaihbrme0a4mtpfsvqcj923b.apps.googleusercontent.com
google_drive_client_secret: X74S5LT67L7uo85iI7hCB62G
google_drive_scope:
  - https://www.googleapis.com/auth/drive
  - https://spreadsheets.google.com/feeds/
new_relic_key: 34c0j56468972d07515d40506deed7577f6ff825
facebook_page_token: faceook_page_token
facebook_app_id: facebook_app_id
facebook_app_token: facebook_app_token
facebook_webhook_verify_token: facebook_webhook_verify_token
page_access_token: page_access_token
facebook_page_id: facebook_page_id
order_month_label: Tháng
s3_access_key: s3_access_key
s3_secret_key: s3_secret_key
s3_bucket: matnatuoi
s3_region: ap-southeast-1
